*, *::after, *::before {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    background-color: #24252a;
}

li {
    list-style-type: none;
}

.nav-logo {
    width: 40px;
    height: 40px;
    background-color: pink;
    border: 2px solid black;
    margin-right: auto;
}

li, a, button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edfaf1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.nav-logo {
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

nav {
    order: 1;
}

.cta {
    order: 2;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li:nth-child(1) {
    padding: 0 20px 0 0;;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


